<style>
    .form-control fc1 {
        background-color: #f8f9fa;
        padding: 20px;
        padding: 25px 15px;
        margin-bottom: 1.3rem;
    }

    .form-control fc1:focus {

        color: #000000;
        background-color: #ffffff;
        border: 3px solid grey;
        outline: 0;
        box-shadow: none;

    }

    #already, #signE {
        padding: 0.6rem 1.2rem;
        background: grey;
        border: 2px solid grey;
    }

    #already:hover, #signE:hover {


        background-color: grey;
        border-color: grey;
        transition: .3s;

    }

    .container body {
        width: 92.5vh;
        height: 1000px;
        margin-bottom: -50px;
    }


    #f4 {
        display: flex;
        flex: 0 1 100vw;
        height: 92.5vh;
        width: 203.8vh;
        color: white;
        background: url('https://images.unsplash.com/photo-1574071318508-1cdbab80d002?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80') no-repeat fixed;
        background-size: cover;
    }

    .card {
        margin: 20px 480px;
        border: none;
    }

    .box-reg {

        width: 600px;
        padding: 20px;
        position: absolute;
        background: #191919;
        opacity: 84%;
        text-align: center;
        transition: 0.25s;
        margin-top: 50px;
        margin-left: -275px;
    }

    .box-reg input[type="text"],
    .box-reg input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 10px 10px;
        width: 250px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s
    }

    .box-reg h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500
    }

    .box-reg input[type="text"]:focus,
    .box-reg input[type="password"]:focus {
        width: 300px;
        border-color: #2ecc71
    }

    .box-reg input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer
    }

    .box-reg input[type="submit"]:hover {
        background: #2ecc71
    }

    #reglink {
        font-size: 15px;
        color: #2ecc71;
    }

    #signE, #already {

        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 20px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;

    }
</style>

<div>
    <div id="f4" class="row justify-content-center">
        <div class="card">

            <form _lpchecked="1" class="box-reg" method="post" action="/register">
                <h2>Register your account</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control fc1" placeholder="Username"
                           required=""
                           autofocus="">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control fc1" placeholder="Password"
                           required="">
                </div>
                <div class="form-group">
                    <label for="repeatedPassword" class="sr-only">Repeat Password</label>
                    <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control fc1"
                           placeholder="Repeat Password" required="">
                </div>
                <div class="form-group">
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" id="name" name="name" class="form-control fc1" placeholder="Name" required=""
                           autofocus="">
                </div>
                <div class="form-group">

                    <label for="surname" class="sr-only">Surname</label>
                    <input type="text" id="surname" name="surname" class="form-control fc1" placeholder="Surname"
                           required=""
                           autofocus="">
                </div>
                <input class="form-check-input" name="role" type="hidden" id="ROLE_USER" value="ROLE_USER" checked>
                <button id="signE" class="btn btn-primary" type="submit">Sign up</button>
                <a id="already" href="/login" class="btn btn-light">Already have an account? Login here!</a>
            </form>

        </div>


    </div>
</div>

