<style>
    .searchPage{
        width: auto;
        height: 92.5vh;
        margin: auto;
        background: url("https://img.freepik.com/premium-photo/sushi-with-salmon-philadelphia-cheese-traditional-japanese-food-black-stone-plate-top-view_187166-40728.jpg?w=1380") center center no-repeat;
        background-size: cover;
    }
    .searches{
        background: #1e1f20;
        opacity: 84%;
        display: flex;
        float: right;
        margin-top: 20px;
        flex-direction: column;
        width: 50%;
        margin-right: 20px;
        height: 350px;
    }
    .sear{
        width: 70%;
    }
    .searchPageParts{
        display: flex;
    }
    #searFind{
        font-family:"JetBrains Mono",sans-serif;
        color: #f2f4ea;
        margin-top: 80px;
        font-size: 50pt;
    }
    .searchFormDiv{
        padding-top: 50px;
    }
</style>
<div class="searchPage" xmlns:th="http://www.thymeleaf.org">
    <a class="nazad" href="@{/restaurants}">BACK TO MAIN PAGE</a>
    <div class="container searchPageParts">
        <div class="searText">
            <h1 id="searFind">FIND YOUR <br> CHOICE</h1>
        </div>
        <div class="container searches">
            <div class="container mb-4 searchFormDiv">
                <form th:action="@{/restaurants/restaurantN}" th:method="GET">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <input type="search" id="searchN" name="restaurantName" placeholder="Search by Name" class="form-control form-control-lg sear">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <button class="btn btn-sm" type="submit">Find</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="container mb-4 searchFormDiv">
                <form th:action="@{/restaurants/restaurantC}" th:method="GET">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <select id="searchC" name="cuisine" class="custom-select custom-select-lg sear">
                            <option>-Cuisine-</option>
                            <option
                                    th:each="cuisine : ${cuisines}"
                                    th:value="${cuisine}"
                                    th:text="${cuisine}">
                            </option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <button class="btn btn-sm" type="submit">Find</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>