<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="container mb-4">
        <a class="btn btn-secondary" th:href="@{/restaurants}">Back</a>
    </div>
    <div class="container mb-4">
        <div class="row">
            <ul>
                <li th:each="restaurant : ${restaurants}">
                    <a th:href="@{/restaurants/{id} (id=${restaurant.getId()})}">
                        <span th:text="${restaurant.getName()}"></span>
                    </a>
                </li>
            </ul>
            <a th:href="@{/restaurants/all/{pageId} (pageId=${pageId})}">Show more...</a>
        </div>
    </div>
</div>
