<div class="favourite" xmlns:th="http://www.thymeleaf.org">
    <div class="container mb-4">
        <a class="nazad" th:href="@{/restaurants/index}">Show All Restaurants</a>
    </div>
    <div class="container mb-4 ">
        <div class="row">
            <h3 class="heart">&#9829;</h3>
            <h3 class="fv">FAVOURITES</h3><br>
        </div>
        <div class="row ">

            <div class="container favo">
                <div th:each="restaurant : ${user.favorites}">
                    <img class="sliki" src="https://source.unsplash.com/200x200/?food" height="200px" width="200px">
                    <p class="ime" th:text="${restaurant.getName()}"></p>
                    <a class="btn showmore " th:href="@{/restaurants/{id} (id=${restaurant.getId()})}">
                        More info
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
