<div class="container body" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="/restaurants/index">Show All</a>&nbsp;
                <a class="btn btn-primary" href="/restaurants/chooseFilter">Search</a><br>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <a class="btn btn-info" href="#">Sign in</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info" href="#">Register</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <a class="btn btn-danger" href="/restaurants/favourites">Favourites</a>
            </div>
        </div>
    </div>
</div>