<div class="main" xmlns:th="http://www.thymeleaf.org">
   <div class="header-background"><h5 id="header-main">Find the best restaurants in town.</h5></div>
    <div class="row">
        <div class="col">
            <div class="main-d-flex justify-content-center">
                <a class="btn btn-primary" href="/restaurants/index">SHOW ALL</a>&nbsp;
                <a class="btn btn-primary" href="/restaurants/chooseFilter">SEARCH</a><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="main-d-flex justify-content-center">
                <a class="btn btn-danger-main" href="/restaurants/favourites">♥ FAVOURITES</a>
            </div>
        </div>
        <style>
            .body {
            width: 800px;
            margin: auto;
            height:1200px;
        }
        .main {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Easy_vegan_pho_%2848839662497%29.jpg/2560px-Easy_vegan_pho_%2848839662497%29.jpg?fbclid=IwAR2HIe-Xju-bbbg-UtVV3MkEljY00v9NZqn7dqiKz5Aqnq_6cuZzpgtF9o4);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: auto;
            width: auto;
            height: 665px;
            overflow: hidden;
            opacity: 89%;
        }
        #header-main{
        font-family: Migra-Extrabold;
        font-weight: bold;
        color: #ffbbdc;
        font-size: 700%;
        margin-right: 10%;
        margin-top: -15px;
        margin-left: -15%;
        }

         body > section > div > div:nth-child(2) > div > div > a
          {
            position: relative;
            display: inline-block;
            font-size: 14px;
            padding: 15px 30px;
            overflow: hidden;
            z-index: 1;
            color: #fff;
            background-color: #237533;
            border: none;
            font-weight: 600;
            margin-left: 10px;
            margin-bottom: 25px;
        }
        .btn-danger-main{
        opacity: 89%;
        position: relative;
    display: inline-block;
    font-size: 14px;
    padding: 15px 30px;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    background-color: #000000;
    border: none;
    font-weight: 600;
    margin-top: 9%;
    margin-left: 6.8%;
        }
       .main-d-flex {
    position: center;
    margin-top: -13%;
    margin-left: 40%;
       }
        .header-background
       {
           background-color: #03030782;
           padding: 210px;
       }
        </style>
    </div>
</div>